In [1]:
!pip install pandas_datareader

Requirement already satisfied: pandas_datareader in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (0.9.0)
Requirement already satisfied: pandas>=0.23 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from pandas_datareader) (1.0.5)
Requirement already satisfied: requests>=2.19.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from pandas_datareader) (2.24.0)
Requirement already satisfied: lxml in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from pandas_datareader) (4.5.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from pandas>=0.23->pandas_datareader) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from pandas>=0.23->pandas_datareader) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from pandas>=0.23->pandas_datareader) (2020.1)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests>=2.19.0->pandas_datareader) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests>=2.19.0->pandas_datareader) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests>=2.19.0->pandas_datareader) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests>=2.19.0->pandas_datareader) (2020.12.5)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.23->pandas_datareader) (1.15.0)

In [2]:
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

from bs4 import BeautifulSoup
import requests

import urllib
import string

In [3]:
Alphabet= string.ascii_uppercase[:26]
Alphabet = list(Alphabet)
Alphabet.append("NUMBER")
url = []

stock = pd.DataFrame()

for c, element in enumerate(Alphabet):
    urlx = "https://www.set.or.th/set/commonslookup.do?language=th&country=TH&prefix={}".format(element)
    url.append(urlx)

url_df = pd.DataFrame(Alphabet,columns = ["Index"])
url_df['url'] = url

In [4]:
stock = []
for j in url_df['url']:
    source = requests.get(j).text
    soup = BeautifulSoup(source, 'html.parser')       
    table_rows = soup.find_all("tr")
    for tr in table_rows:
        td = tr.find_all("td")
        row = [tr.text for tr in td]
        stock.append(row)

In [5]:
columns = ["Symbol", "Thai name", "Market"]
stock_sym = pd.DataFrame(stock, columns = columns)
stock_sym.dropna( axis=0, inplace=True)
stock_sym['Symbol'] = stock_sym['Symbol']+".BK"
stock_sym.head()

     Symbol                                 Thai name Market
1      A.BK  บริษัท อารียา พรอพเพอร์ตี้ จำกัด (มหาชน)    SET
2     A5.BK    บริษัท แอสเซท ไฟว์ กรุ๊ป จำกัด (มหาชน)    mai
3    AAV.BK    บริษัท เอเชีย เอวิเอชั่น จำกัด (มหาชน)    SET
4  ABICO.BK    บริษัท เอบิโก้ โฮลดิ้งส์ จำกัด (มหาชน)    mai
5    ABM.BK       บริษัท เอเชีย ไบโอแมส จำกัด (มหาชน)    mai

In [6]:
stock_sym.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 812 entries, 1 to 838
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Symbol     812 non-null    object
 1   Thai name  812 non-null    object
 2   Market     812 non-null    object
dtypes: object(3)
memory usage: 25.4+ KB

In [7]:
Sym_SET = stock_sym[stock_sym["Market"]=="SET"]
Sym_S = Sym_SET["Symbol"]
Sym_S = Sym_S.reset_index(drop = True)

In [8]:
def get_mean_dif3 (Major):
   
        for i in Major:
            s1 = datetime.now() - timedelta(400)
            s2 = datetime.now() - timedelta(2)
        
            start_date = "{0}-{1}-{2}".format(s1.day, s1.month, s1.year)
            end_date = "{0}-{1}-{2}".format(s2.day, s2.month, s2.year)

            DF = web.get_data_yahoo(i,start=start_date,end=end_date)
            
            DF1 = DF[["Adj Close"]]
            DF1["Mean35"] = DF.rolling(35).mean()[["Adj Close"]]
            DF1["Dif"] = abs(DF1["Adj Close"]-DF1['Mean35'])
            mean_dif = DF1["Dif"].mean()
        
            DFtotal = DF.merge(DF1, on = "Date")
            DFtotal.drop(columns = ["Adj Close_y"], inplace = True)
            DFtotalP = DFtotal.copy()
            DFtotalP["Dif Pct"] = (DFtotalP["Dif"]/DFtotalP["Adj Close_x"])*100
            DFtotalP.dropna(inplace =True, axis = 0)
            Dper = DFtotalP["Dif Pct"][-1]
            Price = DFtotalP["Adj Close_x"][-1]
        
        
            if DF1.loc[end_date]["Dif"] < mean_dif*3 :
                print("{} Yesterday price is {} trend still going, Diff percent from Moving average Day 35 is {} %".format(i, Price, Dper))
            else :
                print("!!! {} price is {} Check Price ,Diff percent from Moving average Day 35 ({} %) is too High !!!".format(i, Price, Dper))

        
        print(datetime.now())

In [9]:
def get_max (Major):
    try:
        for i in Major:
            s1 = datetime.now() - timedelta(400)
            s2 = datetime.now() - timedelta(2)
        
            start_date = "{0}-{1}-{2}".format(s1.day, s1.month, s1.year)
            end_date = "{0}-{1}-{2}".format(s2.day, s2.month, s2.year)

            DF = web.get_data_yahoo(i,start=start_date,end=end_date)   
        
            if DF['Volume'].iloc[-1] < DF['Volume'].max() :
                print("{} today volume is not max" .format(i))
            else :
                print("!!!{} today volume is max!!!" .format(i))
    except:
        print("ทำยังไงต่อวะ?")

        print(datetime.now())

In [ ]:
get_max(Sym_S)

A.BK today volume is not max
AAV.BK today volume is not max
ABPIF.BK today volume is not max
ACC.BK today volume is not max
ACE.BK today volume is not max
ACG.BK today volume is not max
ADVANC.BK today volume is not max
AEC.BK today volume is not max
AEONTS.BK today volume is not max
AFC.BK today volume is not max
AGE.BK today volume is not max
AH.BK today volume is not max
AHC.BK today volume is not max
AI.BK today volume is not max
AIMCG.BK today volume is not max
AIMIRT.BK today volume is not max
AIT.BK today volume is not max
AJ.BK today volume is not max
AJA.BK today volume is not max
AKR.BK today volume is not max
ALLA.BK today volume is not max
ALT.BK today volume is not max
ALUCON.BK today volume is not max
AMANAH.BK today volume is not max
AMARIN.BK today volume is not max
AMATA.BK today volume is not max
AMATAR.BK today volume is not max
AMATAV.BK today volume is not max
AMC.BK today volume is not max
ANAN.BK today volume is not max
AOT.BK today volume is not max
AP.BK today volume is not max
APCO.BK today volume is not max
APCS.BK today volume is not max
APEX.BK today volume is not max
APURE.BK today volume is not max
AQ.BK today volume is not max
AQUA.BK today volume is not max
AS.BK today volume is not max
ASAP.BK today volume is not max
ASEFA.BK today volume is not max
ASIA.BK today volume is not max
ASIAN.BK today volume is not max
ASIMAR.BK today volume is not max
ASK.BK today volume is not max
ASP.BK today volume is not max
AWC.BK today volume is not max
AYUD.BK today volume is not max
B.BK today volume is not max
B-WORK.BK today volume is not max
B52.BK today volume is not max
BA.BK today volume is not max
BAFS.BK today volume is not max
BAM.BK today volume is not max
BANPU.BK today volume is not max
BAY.BK today volume is not max
BBL.BK today volume is not max
BCH.BK today volume is not max
BCP.BK today volume is not max
BCPG.BK today volume is not max
BCT.BK today volume is not max
BDMS.BK today volume is not max
BEAUTY.BK today volume is not max
BEC.BK today volume is not max
BEM.BK today volume is not max
BFIT.BK today volume is not max